body {
    margin: 0px;
}

.headline {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px;      /* 안 여백 */
    margin: 0px;      /* 바깥 여백 */
    display: block;     /* default 값이므로 생략 가능 */
}

.headline, ol a {
    color: blue;
    text-decoration: none;
}

.active {
    color: red;
    text-decoration: underline;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    padding: 20px;      /* 안 여백 */
    padding-left: 33px;
    margin: 0px;      /* 바깥 여백 */
}

#grid #article {
    padding: 25px;
}

/* mediaquery : 반응형 디자인 */
@media(max-width: 700px) {
    #grid {
        display: block;
    }
    #grid ol {
        display: block;
        border-right: none;
    }
    .headline {
        border-bottom: none;
    }
}